<!DOCTYPE html>
<html>
    <head> 
        <title> :)</title> 
        <link rel = "stylesheet" href = "/static/styles/showcase.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src = "{{url_for('static',filename='js/transition.js')}}"> </script> 
        <script src = "/static/js/btn_logic.js"> </script>  
    </head>
    <body>
        <video class = "intro-video" muted loop autoplay> 
            <source src = "/static/video/background.mp4">
            <h1> Merry Christmas!!!</h1> 

        </video>  


        <h1 class = "first-text"> Merry Christmas Melvin {{passcode}} </h1>
        <img src = "/static/images/neva_lost.png" class = "bbb-image">
        <div class = "verb-container">
            <h2 class = "verb-text"> You are  </h2> 
            <h2 class = "verb-text"> Goated, </h2>
            <h2 class = "verb-text"> Big baller,</h2>
            <h2 class = "verb-text"> and super big brained!! </h2>
            <h1 class = "verb-text"> Friend </h1>    
        </div>

        <div class = "funny-page">
            <h1 id = "dad-joke-title"> Mr.P say's Hi</h1> 
            <img src = "/static/images/mr_p.png" class = "mr-p">
            <button class = "the-btn btn btn-primary"><p id = "yeet">press me </p></button> 
        </div>
        <div class = "api-page"> 
            <h1 id = "current-event"> Current Maps in Brawl Stars!</h1> 
            <div class = "event-container"> 
                


            </div> 
        </div>
        <h1 class = "last-text"> And have a happy new year!!</h1>  
        <img src = "/static/images/last.png">
    </body>
</html>